@font-face {
  font-family: "Acrom-Light";
  src: url("../fonts/Acrom-Light.woff") format("woff2");
}
@font-face {
  font-family: "Acrom-Bold";
  src: url("../fonts/Acrom-Bold.woff") format("woff2");
}
@font-face {
  font-family: "Acrom-Regular";
  src: url("../fonts/Acrom-Regular.woff") format("woff2");
}
@font-face {
  font-family: "Xolonium-Regular";
  src: url("../fonts/Xolonium-Regular.woff") format("woff2");
}

body {
  background-color: rgb(255, 243, 132);
  font-family: Acrom-Light;
}

* {
  margin: 0;
}

.headerWhite {
  height: 55px;
  width: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 50;
}
.title {
  font-size: 25px;
  font-weight: 450;
}

.navbar {
  width: 100%;
  height: 115px;
  background-color: black;
  position: fixed;
  top: 55px;
  z-index: 50;
}
.navbar .conteiner {
  height: inherit;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar-wrap {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-menu {
  list-style: none;
  display: flex;
  z-index: 999;
}

.navbar-menu a {
  text-decoration: none;
  padding: 40px;
  color: white;
  font-size: 25px;
}
.navbar-menu a:hover {
  color: yellow;
  transition-delay: 0.3s;
}

.makeapp {
  font-family: Acrom-Bold;
  display: flex;
  z-index: 999;
  text-decoration: none;
  padding: 10px 19px;
  margin-left: 60px;
  background-color: yellow;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  box-sizing: border-box;
}
.makeapp:hover {
  box-shadow: 0px 0px 20px white;
}

.education {
  height: calc(100vh - 170px);
  width: 100%;
  background-color: rgb(247, 251, 255);
  margin-top: 170px;
  position: absolute;
}
.educationWrap {
  height: calc(100vh - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageWrap {
  display: flex;
}
.textAndButton {
  height: inherit;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}
.educationHeader {
  font-family: "Xolonium-Regular";
  font-size: 30px;
  text-transform: uppercase;
}
.educationText {
  font-family: "Acrom-Regular";
  font-size: 18px;
  text-align: justify;
}
