@font-face {
  font-family: "Acrom-Light";
  src: url("../fonts/Acrom-Light.woff") format("woff2");
}
@font-face {
  font-family: "Acrom-Bold";
  src: url("../fonts/Acrom-Bold.woff") format("woff2");
}
@font-face {
  font-family: "Acrom-Regular";
  src: url("../fonts/Acrom-Regular.woff") format("woff2");
}
@font-face {
  font-family: "Xolonium-Regular";
  src: url("../fonts/Xolonium-Regular.woff") format("woff2");
}

/* Add sans serif to all fonts */
body {
  background-color: rgb(255, 243, 132);
  font-family: Acrom-Light, sans-serif;
}

* {
  margin: 0;
}

.headerWhite {
  height: 55px;
  width: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 50;
}
.title {
  font-size: 25px;
  font-weight: 450;
}

.navbar {
  width: 100%;
  height: 115px;
  background-color: black;
  position: fixed;
  top: 55px;
  z-index: 50;
}
/* ContAiner should be separate class */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.navbar-menu {
  width: 70%;
  list-style: none;
  display: flex;
  white-space: nowrap;
  justify-content: space-evenly;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  white-space: nowrap;
  margin: 0 10px;
}
.navbar-menu a:hover {
  color: yellow;
  transition-delay: 0.1s;
}
/* Remove z-index and read about box sizing */
.makeapp {
  font-family: Acrom-Bold, sans-serif;
  display: flex;
  text-decoration: none;
  padding: 10px 19px;
  margin-left: 60px;
  background-color: yellow;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  white-space: nowrap;
}
.makeapp:hover {
  box-shadow: 0px 0px 20px white;
}

.education {
  width: 100%;
  background-color: rgb(247, 251, 255);
  margin-top: 170px;
  padding: 30px 0;
}
.educationWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageWrap {
  display: flex;
}
.textAndButton {
  height: inherit;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30px;
}
.header {
  font-family: "Xolonium-Regular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.educationHeader {
  margin-bottom: 30px;
}
.educationText {
  font-family: "Acrom-Regular", sans-serif;
  font-size: 18px;
  text-align: justify;
  word-spacing: 10px;
  margin-bottom: 30px;
}
.educationButton {
  font-family: Acrom-Bold, sans-serif;
  z-index: 1;
  text-decoration: none;
  padding: 10px 19px;
  background-color: yellow;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  white-space: nowrap;
}
.educationButton:hover {
  box-shadow: 0px 0px 15px rgb(29, 27, 27);
}
.advantage {
  width: 100%;
  background-color: black;
  padding: 90px 0;
}

/* Separate class for header + margin */
.advantageHeader {
  color: yellow;
  text-align: center;
  margin-bottom: 100px;
}

.advantagePairWrap {
  width: 1400px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.advantageImageTextWrap {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 440px;
  justify-content: flex-start;
  align-items: center;
}
.advantageImageBackground {
  width: 135px;
  height: 135px;
  background-color: yellow;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  border-radius: 15px;
}
.advantageImage {
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
  transform: rotate(-45deg);
}

.advantageText {
  margin-top: 60px;
  color: white;
  font-family: "Acrom-Regular", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 130px;
}
