@media (max-wight: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-wight: 1300px) {
  .container {
    max-width: 1000px;
  }

  .educationWrap {
    flex-direction: column;
  }
  .textAndButton {
    width: 70%;
  }
}
